* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  position: relative;
  background-color: maroon;
}

.base-container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: rgb(180, 255, 255);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.logo span {
  color: red;
  font-weight: 700;
}

.logo {
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  color: inherit
}

.login, .sign-up {
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: .2s;
  padding: 5px;
  font-weight: 700;

}

.login:hover, .sign-up:hover {
  transform: scale(1.3);
}

.add-visit {
  padding: 0 1rem;
  cursor: pointer;
  display: none;
}

.filters {
  background-color: rgb(83, 70, 70);
}

.filter {
  width: 31.38%;
  padding: 1rem;
}

.filters-inner {
  padding: 1rem;
  width: 76rem;
}

.info-text {
  margin-top: 4rem;
  text-align: center;
}

.modal-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,.86);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.modal {
  margin: auto;
  padding: 30px;
}

.modal > * {
  display: block;
  width: 400px;
  padding: 1rem;
}


.modal-field {
  margin-bottom: 1rem;
}

.submit {
  cursor: pointer;
}


.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.input-modal {
  display: block;
  width: 400px;
  padding: 1rem;
}

.modal-header {
  text-align: center;
}

.visits-inner {
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.visits-block {
  background-color: rgba(180, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.489);
  border-radius: 5px;
  padding: 10px 20px;
  list-style-position: inside;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
}
.button-block {
  text-align: center;
  padding: 10px 0 0;
  display: flex;
  justify-content: space-around;

}

.close-button, .edit-button, .delete-button{
  width: 30%;
  text-align: center;
  cursor: pointer;
}

.close-button:hover, .edit-button:hover, .delete-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.reset-filters {
  padding: 16px 5px;
  opacity: 0;
}


