{{> head }}
<body>

{{> navbar }}
<!--    {{{ body }}}-->
{{> header }}
    <div class="modal-window" id="modalWindow">

    </div>

<section class="visits">
    <div class="base-container">
        <div class="visits-inner">
            <h2 class="info-text">No items have been added.</h2>
        </div>
    </div>
</section>

</body>
</html>
