<header class="header">
    <div class="container">
        <div class="header-inner">
            <a href="#" class="logo"><span>la</span> Hospital</a>
            <button class="add-visit" id="addVisitButton">Add a visit</button>
            <button class="sign-up" id="signUpButton">Sign Up</button>
            <button class="login" id="logInButton">Log in</button>
        </div>
    </div>
</header>
<section class="filters">
    <div class="container">
        <div class="filters-inner">
            <input class="filter filter-search" type="text" placeholder="Title / Content">
            <select class="filter" name="status" id="status">
                <option class="filter-option" value="open">Open</option>
                <option class="filter-option" value="done">Done</option>
            </select>
            <select class="filter" name="urgency" id="urgency">
                <option value disabled selected>Select importance</option>
                <option value="high">High</option>
                <option value="normal">Normal</option>
                <option value="low">Low</option>
            </select>
            <button class="reset-filters" id="resetFilters">Reset</button>
        </div>
    </div>
</section>
<div class="modal-window" id="modalWindow">
</div>
<section class="visits">
    <div class="container">
        <div class="visits-inner">
            <h2 class="info-text">No items have been added.</h2>
        </div>
    </div>
</section>